IMAGEKIT_PRIVATE_KEY=private_mGJIrTqVWdPI2hSE3+mno/AKhAc=
IMAGEKIT_PUBLIC_KEY=public_eopj0cm2LX/+dr0m3LMSAcC84d4=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/roopesh/

** please dont misuse it ** 
for quick test copy the env variables and place it in .env file (create it)